@{
    ViewBag.Title = "About";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
            <ul id="menu">
                <li>@Html.ActionLink("Početna", "Index", "Home")</li>
                <li>@Html.ActionLink("Ponuda vozila", "PonudaVozila", "Home")</li>
                <li>@Html.ActionLink("O nama", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            </ul>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>